[submodule "packages/server"]
	path = packages/server
	url = https://github.com/Fumetria/repo_back_actividadesSubmodulos.git
[submodule "packages/app"]
	path = packages/app
	url = https://github.com/Fumetria/repo_front_actividadSubmodulos.git
